#app-hero-container {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, #7D93FF 0%, #00116C 100%);
  padding: 0 24px;
}

#app-hero-container h1 {
  margin-top: 40px;
  font-size: 40px;
}

#app-hero-container p {
  margin-top: 40px;
}

#app-hero-container button {
  border: 5px solid #FFFFFF;
  box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  background-color: transparent;
  align-self: center;
  color: white;
  padding: .8em 2em;
  margin-top: 32px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 40px;
}

#app-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#app-about-inner-container {
  text-align: center;
  color: white;
  background-color: #263480;
  padding: 2rem;
  border-radius: 5px;
}

#app-about-inner-container p {
  margin-top: 8px;
}

#app-companies-container {
  text-align: center;
  color: white;
  background: linear-gradient(180deg, #7D93FF 0%, #00116C 100%);
  padding: 1rem;
}

#all-companies {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.company {
  background-color: white;
  padding: 1rem;
  margin: 8px;
  border-radius: 5px;
  color: black;
}

#app-reviews-container {
  padding: 2rem 1rem;
}

#app-reviews-inner-container {
  text-align: center;
  color: white;
  background-color: #263480;
  padding: 2rem;
  border-radius: 5px;
}

.review {
  background-color: white;
  color: black;
  padding: 1rem;
  margin: 12px;
  border-radius: 5px;
}

#app-tickets-container {
  text-align: center;
  background: linear-gradient(180deg, #7D93FF 0%, #00116C 100%);
  color: white;
  padding: 3rem 1rem;
}

#ticket-info-container {
  display: flex;
  margin-top: 24px;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.ticket-info {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 8px;
  flex-grow: 1;
}

.ticket-price {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

.ticket-card button {
  border: 5px solid #FFFFFF;
  box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  background-color: transparent;
  align-self: center;
  color: white;
  padding: 1em 4em;
  margin-top: 16px;
}

#app-footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px; 
  background-color: #0B0B0B;
  text-align: center;
}

#app-footer-container a {
  text-decoration: none;
  color: white;
}